@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');


body {
  margin: 0;
}

.main_game {
  height: 100vh;
  background-image: url("./assets/BG.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Jersey 10", sans-serif;
}

.main_menu {
  height: 100vh;
  background-image: url("./assets/BG_main.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Shadows Into Light", cursive;
}

.main_menu span {
  font-family: "Shadows Into Light Two", cursive;
}

#canvas, #play_btn {
  background: linear-gradient(#9288EF, #867FE0);
}

#popup_won {
  background: linear-gradient(#867FE0, #775CA5);
}